
# requirements.txt
# Dépendances Python nécessaires pour l'application Canmore Incident Management

Flask==2.3.0
Werkzeug<3.0
flask-socketio==5.3.0
requests==2.31.0
Sanic==23.12.0
python-socketio==5.9.0
python-engineio==4.7.0
pytest==7.4.0
pytest-cov==4.1.0

